%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}
    %link{:href => "/css/css.css", :rel => "stylesheet"}
    %link{:href => "/public/css/bootstrap.css", :rel => "stylesheet"}
    %link{:href => "/public/css/bootstrap-responsive.css", :rel => "stylesheet"}
    %script{:src => "/public/js/bootstrap.js"}     
  %title Rock, Paper, Scissors a ruby game
  %body
  .container
    .row-fluid
      .hero-unit
        %h2 Welcome to Rock, Paper, Scissors the game
        %h3 Please choose one of the following:
        %a{:href => '?choice=rock', :class => 'btn btn-large btn-danger' } Rock
        %a{:href => '?choice=paper', :class => 'btn btn-large btn-warning' } Paper
        %a{:href => '?choice=scissors', :class => 'btn btn-large btn-success'} Scissors

      .thumbnail 
        %p Player: #{player_throw} vs Computer: #{computer_throw}   
        
        %h3= answer

