%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}
  %body
    %h1 Juego: Piedra Papel o Tijeras

    %h3 Elige una opcion:
    %a{:href => '?choice=piedra'} Piedra
    %a{:href => '?choice=papel'} Papel
    %a{:href => '?choice=tijeras'} Tijeras

      
    %h2 Jugador: #{player_throw}
    %h3 Contra
    %h2 Ordenador: #{computer_throw}
    %h3 Resultado: #{answer}
