%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}
    %meta{:charset => "utf-8"}
    %title Piedra, Papel o Tijeras
    %link{:href => "/public/css/bootstrap.css", :rel => "stylesheet"}
    %link{:href => "/public/css/bootstrap-responsive.css", :rel => "stylesheet"}
    %script{:src => "/public/js/bootstrap.js"} 
  %body
    .container
      %center
        %h1 Juego: Piedra, Papel o Tijeras

        %h3 Elige una opcion:
        %a{:href => '?choice=piedra', :class => 'btn btn-large btn-success'} Piedra
        %a{:href => '?choice=papel', :class => 'btn btn-large btn-success'} Papel
        %a{:href => '?choice=tijeras', :class => 'btn btn-large btn-success'} Tijeras

      
        %h2 Jugador: #{player_throw}
        %h3 Contra
        %h2 Ordenador: #{computer_throw}
        %h3 Resultado: #{answer}

        %script{:src => "/js/bootstrap.js"}
